.post {
  margin-top: 40px;
  background-color: #FFF;
  box-shadow: 0 0 20px 6px #00000011;
  border-radius: 3px;
}
.post .left {
  position: relative;
}
.post .left .cats {
  position: absolute;
  top: 8px;
  left: 25px;
}
.post .left .cats a {
  color: #fff;
  padding: 4px 10px;
  background-color: #007bff;
  border-radius: 3px;
}
.post .left img {
  width: 100%;
  height: 100%;
}
.post .right {
  padding: 0;
}
.post .right h3 a {
  color: #333;
  margin: 10px 0;
  display: block;
  font-size: 30px;
}
.post .right h3 a:hover {
  color: #007bff;
  text-decoration: none;
}
.post .right span {
  margin: 0 15px 5px 0;
  display: inline-block;
}
.post .right span, .post .right span i {
  color: #333;
}
.post .right span a {
  color: #333;
}
.post .right p {
  line-height: 1.7;
  color: #888;
  padding-right: 30px;
  font-size: 16px;
}
.post-pagination {
  margin: 30px 0;
  justify-content: space-between;
}
.post-pagination span {
  background-color: #333;
  color: #fff;
  padding: 5px 15px;
  margin: 0 10px;
}
.post-pagination a {
  color: #fff;
}
.post-pagination .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}