.homepage .post {
  margin-top: 40px;
  background-color: #FFF;
  box-shadow: 0 0 20px 6px #00000011;
  border-radius: 3px;
}
.homepage .post .left {
  position: relative;
}
.homepage .post .left .cats {
  position: absolute;
  top: 8px;
  left: 25px;
}
.homepage .post .left .cats a {
  color: #fff;
  padding: 4px 10px;
  background-color: #007bff;
  border-radius: 3px;
}
.homepage .post .left img {
  width: 100%;
  height: 100%;
}
.homepage .post .right {
  padding: 0;
}
.homepage .post .right h3 a {
  color: #333;
  margin: 10px 0;
  display: block;
  font-size: 30px;
}
.homepage .post .right h3 a:hover {
  color: #007bff;
  text-decoration: none;
}
.homepage .post .right span {
  margin: 0 15px 5px 0;
  display: inline-block;
}
.homepage .post .right span, .homepage .post .right span i {
  color: #333;
}
.homepage .post .right span a {
  color: #333;
}
.homepage .post .right p {
  line-height: 1.7;
  color: #888;
  padding-right: 30px;
  font-size: 16px;
}
.homepage .post-pagination {
  margin: 30px 0;
  justify-content: space-between;
}
.homepage .post-pagination span {
  background-color: #333;
  color: #fff;
  padding: 5px 15px;
  margin: 0 10px;
}
.homepage .post-pagination a {
  color: #fff;
}
.homepage .post-pagination .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/*===========================================*/
.singlepost .post {
  margin-top: 40px;
  background-color: #FFF;
  /*box-shadow: 0 0 20px 6px #00000011;*/
  border-radius: 3px;
}
.singlepost .post .cats {
  margin: 10px 0;
}
.singlepost .post .cats a {
  color: #333;
}
.singlepost .post {
  padding: 0;
}
.singlepost .post h3 {
  color: #333;
  margin: 10px 0;
  display: block;
  font-size: 30px;
}
.singlepost .post span {
  margin: 0 15px 5px 0;
  display: inline-block;
}
.singlepost .post span, .singlepost .post span i {
  color: #333;
}
.singlepost .post span a {
  color: #333;
}
.singlepost .post p {
  line-height: 1.7;
  color: #888;
  padding-right: 30px;
  font-size: 16px;
}
.singlepost .post-pagination {
  margin: 30px 0;
  justify-content: space-between;
}
.singlepost .post-pagination span {
  background-color: #333;
  color: #fff;
  padding: 8px 15px;
  margin: 0 10px;
}
.singlepost .post-pagination a {
  color: #fff;
}
.singlepost .post-pagination .disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.comments-heading {
  background: #f3f3f3;
  padding: 15px;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}
.comment-section {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comment-section > li {
  background: #f3f3f3;
  padding: 20px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  position: relative;
}
.comment-section > li .reply a {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;

}
.comment-section li .says {
  display: none;
}
.comment-section li .children {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comment-section li .children li {
  padding: 30px;
  background: #e4e4e4;
}
.comment-section li .comment-meta a {
  color: #a5a5a5;
}
.comment-section li .fn a {
  color: #333;
  font-size: 20px;
}
.comment-author img {
  border-radius: 50%;
}
.comment-form label {
  display: block;
}
#cancel-comment-reply-link {
  font-size: 18px;
}

.author-card {
  padding: 15px;
}
.author-card img {
  border-radius: 3px;
}
.meta-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}